@charset "UTF-8";

* {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
}


/* configurando o header */
header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff50;

}
header img {
    width: 72px;
    padding: 10px;
}
header > nav {
    display: inline-block;
    padding: 10px;
}

nav > a {
    text-decoration: none;    
    
    padding: 0px 20px;
}
nav > a.botaopadrao:hover {
    color: #000000;
    background-color: #ffffffdd;
    border-radius: 20px;

    transition-duration: 0.4s;

    padding: 10px 20px;
}

a#botao {
    border: 2px solid #ffffff;
    border-radius: 25px;

    padding: 8px 15px;
}
#botao:hover {
    color: #000000;
    background-color: #ffffffdd;

    transition-duration: 0.4s;
}


main { /* configurando o gradient de fundo */
    background-image: linear-gradient(180deg, #000000 30%, #0a0b0e);
}


/* configirando a parte do jogo */
article {
    background-image: url(../image/Background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}

article > div {
    width: 100%;
    text-align: center;
}

article > div h1 {
    display: inline-block;

    color: #ffffff;
    background-color: transparent;
    font: bold 0.8em helvetica;

    padding: 8px 25px;
    margin: 100px auto 0px auto;
    border: 1px solid #ffffff;
    border-radius: 25px;
}

article > div img{
    display: block;
    width: 350px;
    margin: 10px auto 0px auto;
}
img#jogoimgsilksong{
    width: 450px;
    margin-top: 80px;
}

img.bordasombra { /* definindo bordas aredondadas e box-shagow para class="bordasombra" */
    border-radius: 20px;
    box-shadow: 0px -2px 10px #cee5ff6d;
}


/* configurando a parte de plataforma */
aside#plataforma {
    margin-top: 100px;
    padding: 15px;
}
#plataforma > h2 {
    color: #ffffffcc;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
#plataforma > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    align-items: center;

    width: 100%;
    margin-top: 50px;
}
#plataforma > div img {
    max-width: 150px;
}


/* configurando a parte da historia */
aside#historia {
    padding: 15px;
}

#historia > h2 {
    color: #ffffffcc;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;

    margin: 60px 0px;
}

#historia .textoimg {
    display: flex;
    gap: 20px;
    justify-content: center;

    padding: 15px;
    margin-top: 20px;
}
.textoimg img {
    border-radius: 20px;
    width: 380px;
}
.textoimg .texto {
    border-radius: 20px;
    box-shadow: 0px -3px 14px #ecceff43;
    width: 380px;

    padding: 30px 25px;
}
.textoimg .texto h3 {
    text-align: center;
    font-size: 1.1em;

    margin-bottom: 25px;
}
.textoimg .texto p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.2em;
    font-size: 0.7em;

    margin-top: 5px;
}


/* configurando a parte do carrossel */
aside#screenshots {
    padding: 10px;
}
aside#screenshots img {
    display: block;
    
    width: 480px;
    margin: 100px auto 130px auto;
}


/* configurando a parte do footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    background-color: #0a0b0e;

    padding: 20px 80px 60px 80px;
}

footer div > h4 {
    font: bold 1.1em Helvetica;
}
footer div > p {
    color: #ffffff50;
    font: normal 0.7em Helvetica;
}

footer div > ul {
    list-style-type: none;
    margin: 14px 0px 35px 0px;
}
footer div > ul > li {
    color: #ffffffdd;
    font: normal 0.8em Helvetica;
    line-height: 1.4em;
}

#lista1{
    width: 260px;
}
#lista2{
    width: 220px;
}
#lista3 {
    position: relative;
}
#lista3 img {
    position: absolute;
    bottom: 0px;
    right: 0px;

    width: 92px;
}